@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


:root{
    --color-1: #000000;
    --color-2: #ffffff;
    --color-3: cyan;
}

body, *, input, textarea, button, a{
    font-family: 'Oxygen', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special_image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: var(--color-1);
}
.special_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}

nav{
    position: relative;
    width: 100%;
    height: 90px;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
}

nav ul{
    width: fit-content;
    display: flex;
    align-items: center;
    padding-left: 80px;
}
nav ul li{
    position: relative;
}
nav ul li:not(:first-child){
    margin-left: 55px;
    list-style: none;
    
}
nav ul li a{
    display: flex;
    align-items: center;
    color: var(--color-2);
    text-decoration: none;    
    cursor: pointer;
    transition: .3s ease color;
}
nav ul li a:hover{
    color: var(--color-3);
}
nav ul li a span.material-symbols-outlined{
    font-weight: 300!important;
    padding-right: 7px;
    font-size: 20px;
}
nav ul li span.special_link.material-symbols-outlined{
    position: absolute;
    top: 48px;
    font-weight: 600!important;
    padding-right: 7px;
    font-size: 70px;
    color: var(--color-3);
    animation: 1s ease-in-out 1s infinite alternate specialLinkAnimation;
}

@keyframes specialLinkAnimation {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0);
    }
}

#items{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1024px;
    padding-top: 80px;
}

#items .item_title{
    width: 100%;    
}

#items .item{
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--color-1);
    color: var(--color-2);
    width: calc(33% - 27px);
    min-width: 280px;
    margin: 15px;
    line-height: 28px;
}
#items .item i{
    font-size: 12px;
    color: var(--color-3);
}

#items .item .title{
    font-size: 22px;
    padding-bottom: 15px;
}
#items .item .title::first-letter{
    text-transform: uppercase;
}

#carts{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1024px;
    padding-top: 80px;
}

#carts .cart_title{
    width: 100%;    
}

#carts .cart{
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--color-1);
    color: var(--color-2);
    width: 100%;
    margin-bottom: 15px;
    line-height: 28px;
}
#carts .cart i{
    font-size: 12px;
    color: var(--color-3);
}

#carts .cart_items{
    padding-top: 20px;
}

#carts .cart_items > span{
    font-size: 18px;
}

#carts .cart_items ul{
    padding: 0;
    margin: 0;
    padding-left: 30px;
}

#carts .cart_items ul li{
    font-size: 12px;
}

#carts .cart .title{
    font-size: 22px;
    padding-bottom: 15px;
}
#carts .cart .title::first-letter{
    text-transform: uppercase;
}
#carts .cart .title i{
    font-size: 16px;
}



#tickets{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1024px;
    padding-top: 80px;
}
#tickets .ticket_title{
    width: 100%;    
}